<md-dialog aria-label="">
  <md-dialog-content style="background:rgba(0,0,0,.9);color:#fff">
    <div layout="row">
      <img ng-src="{{ctrl.item.icon}}" class="{{ctrl.item.rarity}}Border upgrade" />
      <strong class="item-name"><span class="{{ctrl.item.rarity}}"><span ng-if="ctrl.item.count > 1">{{ctrl.item.count}}</span> {{ctrl.item.name}}</span></strong>
    </div>
    <div>
      <span ng-if="(ctrl.item.type ==='Weapon') || (ctrl.item.type ==='Armor')" ng-include="'modules/gw2/view/partials/_armor.html'"></span>
      <span ng-if="ctrl.item.type ==='UpgradeComponent'" ng-include="'modules/gw2/view/partials/_upgradeComponent.html'"></span>
      <span ng-if="ctrl.item.type ==='Trinket'" ng-include="'modules/gw2/view/partials/_trinket.html'"></span>
      <span ng-if="ctrl.item.type ==='Consumable'" ng-include="'modules/gw2/view/partials/_consumable.html'"></span>
      <span ng-if="ctrl.item.type ==='Gizmo'" ng-include="'modules/gw2/view/partials/_gizmo.html'"></span>
      <span ng-if="ctrl.item.type ==='Tool'" ng-include="'modules/gw2/view/partials/_tool.html'"></span>            
  </md-dialog-content>
</md-dialog>
<!--
<div id="itemDetails" style="top: 390.8px; left: 253px;" class="visible open above" data-itemid="31100">
  <a href="#" class="close"><i class="material-icons">clear</i></a>
  <div class="icon-name">
    <img src="https://render.guildwars2.com/file/732554E6270D272A5500DA5F1BC57A74F70CA722/534337.png">
    <strong class="item-name"><span class="Exotic">Mystic Caller</span></strong>
  </div>
  <div class="Weapon" style="display: block;">
    Weapon Strength: <span class="min">814</span> - <span class="max">900</span>
  </div>
  <div class="Armor" style="display: none;">
    Defense: <span class="defense">73</span>
  </div>
  <div class="stats" style="display: block;">
    <span class="stat1">+120 Power</span>
    <span class="stat2">+85 Precision</span>
    <span class="stat3">+85 CritDamage</span>
    <span class="stat4"></span>
    <span class="stat5"></span>
    <span class="stat6"></span>
    <span class="stat7"></span>
  </div>
  <div class="upgrades" style="display: block;"><img src="https://render.guildwars2.com/file/BFD4F5E6A8B95866BBA7CDC0E8920D0346337934/220681.png"> Superior Sigil of Blood</div>
  <div class="infusions" style="display: none;"></div>
  <div class="transmuted" style="display: none;">
    Transmuted
    <br>
    <span class="original-item">Zojja's Spire</span>
  </div>
  <div class="rarity">Exotic</div>
  <div class="type">Warhorn</div>
  <div class="bonuses" style="display: none;">
    <span class="bonus1">(1) +25 Power</span>
    <span class="bonus2">(2) +35 Ferocity</span>
    <span class="bonus3">(3) +50 Power</span>
    <span class="bonus4">(4) +65 Ferocity</span>
    <span class="bonus5">(5) +100 Power</span>
    <span class="bonus6">(6) +10% damage while your health is above 90%</span>
  </div>
  <div class="buff" style="display: none;">50% Chance on Critical: Steal Health
    <br><span class="reminder">(Cooldown: 5 Seconds)</span></div>
  <div class="level-box" style="display: block;">
    Required Level: <span class="level">80</span>
  </div>
  <div class="description" style="display: none;"><span class="flavor">Crafted in the style of the renowned asuran genius, Zojja.</span></div>
  <div class="values" style="display: block;">
    <div class="vendor">Vendor: <span><span class="silver">2</span><img src="/img/silver.png" alt="s"> <span class="copper">64</span><img src="/img/copper.png"
      alt="c"></span>
    </div>
    <div class="tp-buy" style="display: block;">TP Buy: <span><span class="gold">10</span><img src="/img/gold.png" alt="g"> <span class="silver">30</span><img src="/img/silver.png"
      alt="s"> <span class="copper">70</span><img src="/img/copper.png" alt="c"></span>
    </div>
    <div class="tp-sell" style="display: block;">TP Sell: <span><span class="gold">16</span><img src="/img/gold.png" alt="g"> <span class="silver">40</span><img src="/img/silver.png"
      alt="s"> <span class="copper">0</span><img src="/img/copper.png" alt="c"></span>
    </div>
  </div>
  <div class="link">
    <a href="http://www.gw2shinies.com/item/31100" target="_blank">http://www.gw2shinies.com/item/31100</a>
  </div>
</div>-->