<md-toolbar layout="row" class="md-whiteframe-z2">
	<div class="md-toolbar-tools">
		<md-button ng-click="ToggleLeft()" class="md-icon-button" aria-label="Menu">
			<ng-md-icon icon="menu"></ng-md-icon>
		</md-button>
		<h2 flex>
          <center>                    
			<strong>Bank</strong>	
        </center>
        </h2>
	</div>
</md-toolbar>
<md-progress-linear ng-show="isLoading" md-mode="indeterminate"></md-progress-linear>
<md-content flex class="md-padding" layout="column" style="height:100%;">
	<div flex ng-repeat="slot in bank">
		<div style="position:relative">
			<span ng-click="ShowItemDialog(item)" ng-repeat="item in slot track by $index" class="inventoryItem">
					<img ng-src="{{item.icon}}" class="{{item.rarity}}Border inventoryIcon"/>					
					<span>{{item.count}}</span>
			</span>
		</div>
		<br>
	</div>
</md-content>