<div layout="row">
	<img ng-src="images/{{character.profession}}_icon.png" class="md-avatar" alt="{{char.profession}}" />
	<div layout="column">
		<span>
			<strong>{{character.name}}</strong>			
		</span>
		<span>
			<span ng-if="character.guild.guild_name">{{character.guild.guild_name}}</span>
		<span ng-if="character.guild.guild_name">[{{ character.guild.tag }}]</span>
		</span>
		<div><img ng-src="images/races/{{character.race}}.png" class="smallIcon" alt="{{char.race}}" />{{character.race}}</div>
		<div layout="row">
			<span flex>
				<ng-md-icon icon="access_time" size="24"></ng-md-icon> {{character.age}}h
			</span>
			<span flex>
				<md-icon md-svg-icon="death" size="24"></md-icon>{{character.deaths}}
			</span>
		</div>
		<span>Erstellt am: <small>{{character.created | date:'dd.MM.yyyy'}}</small></span>
	</div>
</div>
<md-divider></md-divider>
<span ng-repeat="crafting in character.crafting | orderBy:'active' :true" ng-class="{'inactive':crafting.active == false}" class="badge">
	<img ng-src="images/disciplines/{{crafting.discipline}}.png" class="smallIcon" alt="{{crafting.discipline}}" /> {{crafting.rating}}
</span>