<md-toolbar layout="row" class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm ng-click="ToggleLeft()" class="md-icon-button">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h2 flex>
          <center>Character</center>
        </h2>
    </div>
</md-toolbar>
<md-content flex class="md-padding" layout="column">
    <md-content flex>
        <md-list>
            <md-list-item ng-repeat="char in character">
                <span flex>
                    {{char.name}}
                </span>
            </md-list-item>
        </md-list>

    </md-content>
</md-content>