<md-toolbar layout="row" class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm ng-click="ToggleLeft()" class="md-icon-button" aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h2 flex>
          <center>                    
			<strong>{{character.name}}</strong>	
        </center>
        </h2>
    </div>
</md-toolbar>
<md-content flex layout="column">
    <md-tabs md-dynamic-height md-border-bottom class="md-accent" md-stretch-tabs="3">
        <md-tab>
            <md-tab-label>
                <section layout="column" layout-align="center center">
                    <md-icon md-svg-icon="general" class="tabItemFilled"></md-icon>
                </section>
            </md-tab-label>
            <md-tab-body>
                <md-content flex class="md-padding" ng-include="'/modules/gw2/view/characterDetails.general.html'">
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <section layout="column" layout-align="center center">
                    <md-icon md-svg-icon="equipment" class="tabItemFilled"></md-icon>
                </section>
            </md-tab-label>
            <md-tab-body>
                <md-content flex ng-include="'/modules/gw2/view/characterDetails.armor.html'">
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <section layout="column" layout-align="center center">
                    <md-icon md-svg-icon="inventory" class="tabItemFilled"></md-icon>
                </section>
            </md-tab-label>
            <md-tab-body>
                <md-content layout="column" Class="md-padding" ng-include="'/modules/gw2/view/characterDetails.inventory.html'">
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>