<md-toolbar layout="row" class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm ng-click="ToggleLeft()" class="md-icon-button" aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h2 flex>
          <center>     
        {{character.name}}  
        </center>
        </h2>
    </div>
</md-toolbar>
<md-content flex layout="column">
    <md-tabs md-dynamic-height md-border-bottom class="md-accent">
        <md-tab>
            <md-tab-label>
                <section layout="column" layout-align="center center">
                    <md-icon md-svg-icon="death" class="md-accent"></md-icon>
                </section>
            </md-tab-label>
            <md-content ng-include="'/modules/gw2/view/characterDetails.general.html'">                
            </md-content>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <section layout="column" layout-align="center center">
                    <md-icon md-svg-icon="armor" class="md-accent"></md-icon>
                </section>
            </md-tab-label>
            <md-content ng-include="'/modules/gw2/view/characterDetails.armor.html'">
            </md-content>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <section layout="column" layout-align="center center">
                    <md-icon md-svg-icon="inventory" class="md-accent"></md-icon>
                </section>
            </md-tab-label>
            <md-content ng-include="'/modules/gw2/view/characterDetails.inventory.html'">
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>

<!--<md-list flex>
    <md-list-item ng-repeat="" class="md-3-line">
        <div flex class="md-list-item-text" layout="column">
            <p>
                <span ng-repeat="crafting in char.crafting | orderBy:'active' :true" ng-class="{'inactive':crafting.active == false}">                            
                            <img ng-src="images/disciplines/{{crafting.discipline}}.png" class="smallIcon" alt="{{crafting.discipline}}" />    
                            {{crafting.rating}}
                        </span>
            </p>
        </div>
    </md-list-item>
</md-list>-->