<md-tabs flex md-dynamic-height md-border-bottom class="md-warn" md-swipe-content="true">
	<md-tab>
		<md-tab-label>
			<section layout="column" layout-align="center center">
				Waffen
			</section>
		</md-tab-label>
		<md-content flex class="md-padding">
			<h3>Waffen</h3>
			<div layout="column">
				<div ng-repeat="weapon in character.equipment.weapons.first">
					<armor-preview armor="weapon"></armor-preview>
				</div>
				<br>				
				<br>
				<div ng-repeat="weapon in character.equipment.weapons.second">
					<armor-preview armor="weapon"></armor-preview>
				</div>
			</div>
			<h3>Unterwasser</h3>
			<div layout="column">
				<div ng-repeat="weapon in character.equipment.underwater">
					<armor-preview armor="weapon"></armor-preview>
				</div>
			</div>
		</md-content>
	</md-tab>
	<md-tab>
		<md-tab-label>
			<section layout="column" layout-align="center center">
				Ausrüstung
			</section>
		</md-tab-label>
		<md-content class="md-padding" ng-include="'/modules/gw2/view/characterDetails.armor.armor.html'">
		</md-content>
	</md-tab>
	<md-tab>
		<md-tab-label>
			<section layout="column" layout-align="center center">
				Abbauwekzeuge
			</section>
		</md-tab-label>
		<md-content>
			<!--{{character.equipment.tools.Sickle}}
			{{character.equipment.tools.Pick}}
			{{character.equipment.tools.Axe}}-->
			<h3>Abbauwerkzeuge</h3>
			<md-grid-list>
				<md-list-item ng-repeat="tool in character.equipment.tools">
					<img ng-src="{{tool.icon}}" class="{{tool.rarity}}Border itemIcon" /> {{tool.name}}
				</md-list-item>
			</md-grid-list>

		</md-content>
	</md-tab>
</md-tabs>