<md-toolbar layout="row" class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm ng-click="ToggleLeft()" class="md-icon-button">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h2 flex="66">
          <center>Account</center>
        </h2>
        <span></span>
    </div>
</md-toolbar>
<md-content flex class="md-padding" layout="column">
    <h2>{{account.name}}</h2>
    <md-content layout="row">
        <div flex>
            {{account.created | date:'dd.MM.yyyy'}}        
        </div>
        <div flex>
            {{account.world.name}}
        </div>
    </md-content>

    <h2>Gilden</h2>
    <md-content flex>
        <md-list flex>
            <md-list-item ng-repeat="guild in account.guilds">
                <img style="width:64px;height:64px;" src="http://data.gw2.fr/guild-emblem/name/{{guild.guild_name}}/64.png"></img>
                {{guild.guild_name}} {{guild.tag}}
            </md-list-item>
        </md-list>
    </md-content>
</md-content>