<md-toolbar class="md-whiteframe-z1">
  <h1>Menu</h1>
</md-toolbar>
<md-content flex>
  <md-list flex>
    <md-list-item>
      <md-button ui-sref="app.gw2.home" ng-click="ToggleLeft();selected = 'Home';" class="menuItem" ng-class="{'selected' : selected === 'Home' }">
        <ng-md-icon class="menuIcon" icon="menu" ng-class="{'selected' : selected === 'Home' }" size="50"></ng-md-icon>
        Home
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ui-sref="app.gw2.character" ng-click="ToggleLeft();selected = 'character';" class="menuItem" ng-class="{'selected' : selected === 'character' }">
        <md-icon md-svg-icon="character" class="menuIcon" size="50"></md-icon>
        Charaktere
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ui-sref="app.gw2.wallet" ng-click="ToggleLeft();selected = 'wallet';" class="menuItem" ng-class="{'selected' : selected === 'wallet' }">
        <md-icon md-svg-icon="wallet" class="menuIcon" size="50"></md-icon>
        Geldbörse
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ui-sref="app.gw2.bank" ng-click="ToggleLeft();selected = 'bank';" class="menuItem" ng-class="{'selected' : selected === 'bank' }">
        <md-icon md-svg-icon="bank" class="menuIcon" size="50"></md-icon>
        Bank
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ui-sref="app.gw2.materials" ng-click="ToggleLeft();selected = 'materials';" class="menuItem" ng-class="{'selected' : selected === 'materials' }">
        <md-icon md-svg-icon="crafting" class="menuIcon" size="50"></md-icon>
        Sammlung
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ui-sref="app.gw2.skins" ng-click="ToggleLeft();selected = 'skins';" class="menuItem" ng-class="{'selected' : selected === 'skins' }">
        <md-icon md-svg-icon="armor" class="menuIcon" size="50"></md-icon>
        Skins
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ui-sref="app.gw2.pvp" ng-click="ToggleLeft();selected = 'pvp';" class="menuItem" ng-class="{'selected' : selected === 'pvp' }">
        <md-icon md-svg-icon="weapons" class="menuIcon" size="50"></md-icon>
        PvP
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <md-button ui-sref="app.config">
        <ng-md-icon class="menuIcon" icon="settings" size="50"></ng-md-icon>
        Konfiguration
      </md-button>
    </md-list-item>
  </md-list>
</md-content>